.online {
    display: flexbox;
    margin-top: 72px;
    margin-left: 93px;
}

.online-form {
    display: inline;
    align-items: center;
    text-align: center;
}

.online-form-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-bottom: 20px;
}

.online-form-input {
    width: 358px;
    height: 50px;
    padding: 16px;
    margin-right: 12px;
    outline: none;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.online-form-input::placeholder {
    position: absolute;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.online-form-btn {
    color: var(--first-button-color);
    background-color: var(--accent-color);
    border: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    border-radius: 4px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
}

.online-form-icon {
    fill: var(--first-button-color);
    vertical-align: text-bottom;
    margin-left: 10px;
}
